:root{
    
    --heading_color:rgba(243, 72, 106, 0.883);
    --para_color:rgba(56, 62, 146, 0.705);
    --color: rgba(116, 50, 136, 0.801);
    --color_secondary:rgba(23, 98, 148, 0.774);
    --color_left:rgba(184, 59, 111, 0.644);
    --color_right:rgba(6, 98, 67, 0.691);

}