@import url(./Resposvie.css);
@import url(./Colors.css);
@import url(Common.css);
@import url(navigation.css);
@import url(main.css);

html {
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(185, 40, 101, 0.623), rgba(148, 60, 97, 0.363), rgba(22, 74, 117, 0.459), rgba(15, 59, 90, 0.637), rgba(21, 78, 119, 0.465));
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;

}

h1::before {
    content: "";
    box-shadow: 5px 8px 500px 30px rgba(255, 209, 4, 0.835);
}

ol {
    list-style: none;
}

ol li {
    margin-bottom: 1rem;
}

p,
amet {
    font-size: 2rem !important;
}

.margin_bottom {
    margin-bottom: 100px;
}